<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue3 - week 2 登入驗證</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!-- 自定義 -->
  <link rel="stylesheet" href="style/all.css">
</head>
<body>
  <div id="app">
    <div class="container my-3">
      <div class="row">
        <!-- 產品列表 -->
        <div class="col-lg-6 mb-3">
          <h2>產品列表</h2>
          <table class="table table-hover align-middle">
            <thead>
              <tr>
                <th>產品名稱</th>
                <th class="text-center">原價</th>
                <th class="text-center">售價</th>
                <th class="text-center">是否啟用</th>
                <th class="text-center">查看細節</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in products" :key="item.id">
                <td> {{ item.title }} </td>
                <td class="text-center"> {{ item.origin_price }} </td>
                <td class="text-center"> {{ item.price }} </td>
                <td class="text-center">
                  <a href="#" @click="changeEnabled(item)">{{ item.is_enabled ? '啟用' : '未啟用' }}</a>
                </td>
                <td class="text-center"><button type="button" class="btn btn-primary" @click="checkDetails(item)">查看細節</button></td>
              </tr>
            </tbody>
          </table>
          <p>目前有 {{ products.length }} 項產品</p>
        </div>
        <!-- 產品細節 -->
        <div class="col-lg-6">
          <h2>單一產品細節</h2>
          <!-- 產品卡片 -->
          <template v-if="temp.id">
            <div class="card mb-3">
              <img :src="temp.imageUrl" :alt="temp.title" class="card-img-top img-fluid image bigImg">
              <div class="card-body">
                <h3 class="card-title d-flex align-items-center">{{ temp.title }} <span class="badge bg-primary fs-6 ms-3">{{ temp.category }}</span></h3>
                <p class="card-text">商品描述：{{ temp.description }}</p>
                <p class="card-text">商品內容：{{ temp.content }}</p>
                <p class="card-text">{{ temp.price }} <del class="card-text text-muted">{{ temp.origin_price }}</del>  {{ temp.unit }} / 元</p>
              </div>
            </div>
            <!-- 產品小圖 -->
            <template v-for="(item, index) in temp.imagesUrl" :key="index">
              <img v-if="item" :src="item" alt="" class="img-fluid smImg me-3 mb-3">
            </template>
          </template>
          <p class="text-muted" v-if="!temp.id">請選擇一個商品查看</p>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
  <!-- 自定義 -->
  <script src="js/all.js" type="module"></script>
</body>
</html>